html {
  height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 30px;
}

h1{
  font-size: 2.5em;
  text-align: center;
}

button{
  width: 100px;
  height: 40px ;
  background-color: black;
  color: white;
  font-weight: bold;
  border: 0.1px;
}

button:hover{
  background-color: rgb(245, 240, 245);
  color: black;
  box-shadow: 2px 2px 2px black;
  border: 0.5 solid black;
  transition: background-color 1s, color 1s, box-shadow 1s , border 1s;
}